<%= form_for @hiring_manager do |f| %>

  <div>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :company_id %><br />
    <%= f.collection_select :company_id, Company.all, :id, :name %>
  </div>

  <div>
    <%= f.submit %>
  </div>

<% end %>
