<h1>Hiring managers</h1>

<p><%= link_to 'Add a New Hiring Manager', new_hiring_manager_url %></p>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Title</th>
      <th>Company</th>
      <th>Email</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @hiring_managers.each do |hiring_manager| %>
    <tr>
      <td><%= hiring_manager.user.first_name %></td>
      <td><%= hiring_manager.user.last_name %></td>
      <td><%= hiring_manager.title %></td>
      <td><%= hiring_manager.company.name %></td>
      <td><%= hiring_manager.user.email %></td>

      <td><%= link_to 'Show', hiring_manager_url(hiring_manager) %></td>
      <td><%= link_to 'Edit', edit_hiring_manager_url(hiring_manager) %></td>
      <td><%= link_to 'Destroy', hiring_manager_url(hiring_manager), method: 'delete', data: { confirm: "Do you really want to delete this hiring_manager?" } %></td>

    </tr>
  <% end %>
  </tbody>
</table>

