<h1>Hiring Manager #<%= @hiring_manager.id %></h1>

<p>
  <b>First name:</b>
  <%= @hiring_manager.user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @hiring_manager.user.last_name %>
</p>

<p>
  <b>Title:</b>
  <%= @hiring_manager.title %>
</p>

<p>
  <b>Company:</b>
  <%= @hiring_manager.company.name %>
</p>


