<h1>New Recruiter Note</h1>


<%= form_tag(recruiter_notes_url, method: 'post') do %>


  <div>
    <%= label_tag :candidate_id %><br />
    <%= number_field_tag :candidate_id %>
  </div>

    <div>
    <%= label_tag :note_id %><br />
    <%= number_field_tag :note_id %>
  </div>

    <div>
    <%= label_tag :recruiter_id %><br />
    <%= number_field_tag :recruiter_id %>
  </div>

  
  <div>
    <%= submit_tag "Create Recruiter Note" %>
  </div>
<% end %>
