<h1>New Candidate Company</h1>


<%= form_tag(candidate_companies_url, method: 'post') do %>


  <div>
    <%= label_tag :candidate_id %><br />
    <%= number_field_tag :candidate_id %>
  </div>

    <div>
    <%= label_tag :company_id %><br />
    <%= number_field_tag :company_id %>
  </div>

  
  <div>
    <%= submit_tag "Create Candidate Company" %>
  </div>
<% end %>
