<h1>Listing job_recruiters</h1>

<table>
  <tr>
    <th>Job</th>
    <th>Recruiter</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @job_recruiters.each do |job_recruiter| %>
  <tr>
    <td><%= job_recruiter.job_id %></td>
    <td><%= job_recruiter.recruiter_id %></td>
    <td><%= link_to 'Show', job_recruiter %></td>
    <td><%= link_to 'Edit', edit_job_recruiter_path(job_recruiter) %></td>
    <td><%= link_to 'Destroy', job_recruiter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Job recruiter', new_job_recruiter_path %>
