<%= form_for @candidate_recruiter do |f| %>

  <div>
    <%= f.label :candidate_id %><br />
    <%= f.collection_select :candidate_id, Candidate.all, :id, :full_name %>
  </div>

  <div>
    <%= f.label :recruiters_id %><br />
    <%= f.collection_select :recruiter_id, Recruiter.all, :id, :full_name %>
  </div>


  <div>
    <%= f.submit %>
  </div>

<% end %>
