<h1>New Candidate Recruiter</h1>


<%= form_tag(candidate_recruiters_url, method: 'post') do %>


  <div>
    <%= label_tag :candidate_id %><br />
    <%= number_field_tag :candidate_id %>
  </div>

    <div>
    <%= label_tag :recruiters_id %><br />
    <%= number_field_tag :recruiters_id %>
  </div>

  
  <div>
    <%= submit_tag "Create Candidate Recruiter" %>
  </div>
<% end %>
