<h1>Jobs</h1>

<p><%= link_to 'Add a New Job', new_job_url %></p>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Location</th>
      <th>Email</th>
      <th>Url</th>
      <th>Candidates</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @jobs.each do |job| %>
    <tr>
      <td><%= job.title %></td>
      <td><%= truncate(job.description) %></td>
      <td><%= job.location %></td>
      <td><%= job.email %></td>
      <td><%= job.url %></td>
      <td><%= link_to job.candidates.size, candidate_jobs_url({job_id: job.id}) %></td>

      <td><%= link_to 'Show', job_url(job) %></td>
      <td><%= link_to 'Edit', edit_job_url(job) %></td>
      <td><%= link_to 'Destroy', job_url(job), method: 'delete', data: { confirm: "Do you really want to delete this job?" } %></td>

    </tr>
  <% end %>
  </tbody>
</table>

