<h1>Listing agency_clients</h1>

<table>
  <tr>
    <th>Agency</th>
    <th>Client</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @agency_clients.each do |agency_client| %>
  <tr>
    <td><%= agency_client.agency.name %></td>
    <td><%= agency_client.client.name %></td>
    <td><%= link_to 'Show', agency_client %></td>
    <td><%= link_to 'Edit', edit_agency_client_path(agency_client) %></td>
    <td><%= link_to 'Destroy', agency_client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Agency client', new_agency_client_path %>
