<%= form_for(@external_job) do |f| %>
  <% if @external_job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@external_job.errors.count, "error") %> prohibited this external_job from being saved:</h2>

      <ul>
      <% @external_job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :external_code %><br />
    <%= f.text_field :external_code %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :hiring_manager_id %><br />
    <%= f.collection_select :hiring_manager_id, HiringManager.all, :id, :full_name %>
  </div>
  <div class="field">
    <%= f.label :job_id %><br />
    <%= f.collection_select :job_id, Job.all, :id, :title %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
  <%= f.label :telephone %><br />
  <%= f.text_field :telephone %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
