<p>
  <b>Contact:</b>
  <%= @external_job.external_code %>
</p>

<p>
  <b>Description:</b>
  <%= @external_job.description %>
</p>

<p>
  <b>Hiring manager:</b>
  <%= @external_job.hiring_manager.user.full_name %>
</p>

<p>
  <b>Job:</b>
  <%= @external_job.job.title %>
</p>

<p>
  <b>Email:</b>
  <%= @external_job.email %>
</p>

<p>
  <b>Telephone:</b>
  <%= @external_job.telephone %>
</p>


<%= link_to 'Edit', edit_external_job_path(@external_job) %> |
<%= link_to 'Back', external_jobs_path %>
