<h1>Listing candidate_attributes</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Industry</th>
    <th>Years experience</th>
    <th>Bio</th>
    <th>Company</th>
    <th>Skills</th>
    <th>Location</th>
    <th>Candidate</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @candidate_attributes.each do |candidate_attribute| %>
  <tr>
    <td><%= candidate_attribute.title %></td>
    <td><%= candidate_attribute.industry %></td>
    <td><%= candidate_attribute.years_experience %></td>
    <td><%= candidate_attribute.bio %></td>
    <td><%= candidate_attribute.company_id %></td>
    <td><%= candidate_attribute.skills %></td>
    <td><%= candidate_attribute.location %></td>
    <td><%= candidate_attribute.candidate_id %></td>
    <td><%= link_to 'Show', candidate_attribute %></td>
    <td><%= link_to 'Edit', edit_candidate_attribute_path(candidate_attribute) %></td>
    <td><%= link_to 'Destroy', candidate_attribute, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Candidate attribute', new_candidate_attribute_path %>
