
<p>
  <b>Full name:</b>
  <%= @candidate.try(:full_name) %>
</p>

<p>
  <b>Title:</b>
  <%= @candidate.try(:candidate_attribute).try(:title) %>
</p>

<p>
  <b>Location:</b>
  <%= @candidate.try(:candidate_attribute).try(:location) %>
</p>

<p>
  <b>Industry:</b>
  <%= @candidate.try(:candidate_attribute).try(:industry) %>
</p>

<p>
  <b>Years experience:</b>
  <%= @candidate.try(:candidate_attribute).try(:years_experience) %>
</p>

<p>
  <b>Bio:</b>
  <%= @candidate.try(:candidate_attribute).try(:bio) %>
</p>

<p>
  <b>Salary:</b>
  <%= @candidate.try(:candidate_attribute).try(:salary) %>
</p>

<p>
  <b>Skills:</b>
  <%= @candidate.try(:candidate_attribute).try(:skills) %>
</p>

<p>
  <b>Company:</b>
  <%= @candidate.try(:candidate_attribute).try(:company).try(:name) %>
</p>

<h5>Notes by recruiter(s):</h5>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Name</th>
      <th>Comments</th>
      <th>Job Title</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @candidate.recruiter_notes.each do |recruiter_note| %>
    <tr>
      <td><%= recruiter_note.note.date %></td>
      <td><%= recruiter_note.recruiter.full_name %></td>
      <td><%= recruiter_note.note.description %></td>
      <td><%= recruiter_note.note.job.title %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<h5>Notes by Hiring Manager(s):</h5>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Name</th>
      <th>Comments</th>
      <th>Job Title</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @candidate.hiring_manager_notes.each do |hiring_manager_note| %>
      <tr>
        <td><%= hiring_manager_note.note.date %></td>
        <td><%= hiring_manager_note.hiring_manager.full_name %></td>
        <td><%= hiring_manager_note.note.description %></td>
        <td><%= hiring_manager_note.note.job.title %></td>
      </tr>
    <% end %>
  </tbody>
</table>
