<h1>Editing Company #<%= @company.id %></h1>


<%= form_tag(company_url(@company), method: 'put') do %>

  <div>
    <%= label_tag :name %><br />
    <%= text_field_tag :name, @company.name %>
  </div>

  
  <div>
    <%= submit_tag "Update Company" %>
  </div>

<% end %>
