<h1>Companies</h1>

<p><%= link_to 'Add a New Company', new_company_url %></p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @companies.each do |company| %>
    <tr>
      <td><%= company.name %></td>
  
      <td><%= link_to 'Show', company_url(company) %></td>
      <td><%= link_to 'Edit', edit_company_url(company) %></td>
      <td><%= link_to 'Destroy', company_url(company), method: 'delete', data: { confirm: "Do you really want to delete this company?" } %></td>

    </tr>
  <% end %>
  </tbody>
</table>

