<h1>Editing Job Company #<%= @job_company.id %></h1>


<%= form_tag(job_company_url(@job_company), method: 'put') do %>

  <div>
    <%= label_tag :job_id %><br />
    <%= number_field_tag :job_id, @job_company.job_id %>
  </div>

  <div>
    <%= label_tag :company_id %><br />
    <%= number_field_tag :company_id, @job_company.company_id %>
  </div>

  
  <div>
    <%= submit_tag "Update Job Company" %>
  </div>

<% end %>
