<h1>New Job Company</h1>


<%= form_tag(job_companies_url, method: 'post') do %>


  <div>
    <%= label_tag :job_id %><br />
    <%= number_field_tag :job_id %>
  </div>

    <div>
    <%= label_tag :company_id %><br />
    <%= number_field_tag :company_id %>
  </div>

  
  <div>
    <%= submit_tag "Create Job Company" %>
  </div>
<% end %>
