<h1>Listing client_jobs</h1>

<table>
  <tr>
    <th>Client</th>
    <th>Job</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @client_jobs.each do |client_job| %>
  <tr>
    <td><%= client_job.client_id %></td>
    <td><%= client_job.job_id %></td>
    <td><%= link_to 'Show', client_job %></td>
    <td><%= link_to 'Edit', edit_client_job_path(client_job) %></td>
    <td><%= link_to 'Destroy', client_job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Client job', new_client_job_path %>
