<h2><%= @job.title %> </h2>
<h2><%= @job.client_jobs.first.client.name %> </h2>
<h4> Internal Job ID #<%= @job.id %> External Job ID #<%= @job.external_job.id %></h4>

<h2>List of Candidates</h2>

<%= render 'candidates/candidate_list', candidates: @candidate_jobs %>

