<b>Client:</b>
  <%= @job.client_jobs.first.client.name %>|

<b>Job:</b>
  <%= @job.title %>|

<b>Internal Job ID:</b>
 <%= @job.id %>|

<b>External Job ID:</b>
 <%= @job.external_job.external_code %>

<p>
  <b>Hiring Manager:</b>
    <%= @job.external_job.hiring_manager.full_name %>
</p>

<h4>List of Candidates</h4>

<%= render 'candidates/candidate_list', candidates: @candidate_jobs %>

