<%= form_for @recruiter do |f| %>

<% if @recruiter.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@recruiter.errors.count, "error") %> prohibited this recruiter from signing in:</h2>

    <ul>
    <% @recruiter.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <div>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :company_id %><br />
    <%= f.collection_select :company_id, Company.all, :id, :name %>
  </div>

  <div>
    <%= f.submit %>
  </div>

<% end %>
