<h1>Recruiter #<%= @recruiter.id %></h1>

<p>
  <b>First name:</b>
  <%= @recruiter.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @recruiter.last_name %>
</p>

<p>
  <b>Title:</b>
  <%= @recruiter.recruiter_attribute.try(:title) %>
</p>

<p>
  <b>Agency:</b>
  <%= @recruiter.recruiter_attribute.try(:agency).try(:name) %>
</p>

<p>
  <b>Email:</b>
  <%= @recruiter.email %>
</p>


