<h1>Recruiter #<%= @recruiter.id %></h1>

<p>
  <b>First name:</b>
  <%= @recruiter.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @recruiter.last_name %>
</p>

<p>
  <b>Title:</b>
  <%= @recruiter.title %>
</p>

<p>
  <b>Agency:</b>
  <%= @recruiter.agency.name %>
</p>

<p>
  <b>Email:</b>
  <%= @recruiter.user.email %>
</p>


